/* Define variables para los colores utilizados en el documento */
:root {
  --gris: #aaa;
  --rojo: #e93d50;
  --rojo-oscuro: #af303f;
  --blanco: #fff;
  --luz: rgb(229, 255, 0);
}

/* Estilos generales del cuerpo del documento */
body {
  align-items: center;
  background: #5a5bf3; /* Fallback para navegadores que no soportan gradientes */
  background: -moz-linear-gradient(left, #5a5bf3 0%, #91e7d9 100%); /* Firefox */
  background: -webkit-linear-gradient(left, #5a5bf3 0%,#91e7d9 100%); /* WebKit (Safari/Chrome) */
  background: linear-gradient(to right, #5a5bf3 0%,#91e7d9 100%); /* Estándar */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

/* Estilos para los encabezados */
h1 {
  color: var(--blanco);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

/* Estilos para el teclado */
.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

/* Estilos para las teclas */
.tecla {
  background-color: var(--blanco);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--gris);
  color: var(--rojo);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

/* Estilos para cuando una tecla está activa o presionada */
.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 4px solid  var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  color: var(--blanco);
  outline: none;
}

/* Estilos para cuando una tecla tiene el foco */
.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

/* Estilos para cuando una tecla está activa y tiene el foco */
.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}