/* Define variables para los colores utilizados en el documento */
:root {
  --gris: #aaa;
  --rojo: #e93d50;
  --rojo-oscuro: #af303f;
  --blanco: #fff;
  --luz: rgb(229, 255, 0);
}

/* Estilos generales del cuerpo del documento */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
html{
  width: 100%;
  height: auto;
}

header{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #5a5bf3;
  padding: 20px;
  gap: 10px;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo{
  width: 50px;
  height: auto;
}

/* Estilos para los encabezados */
h1 {
  color: var(--blanco);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

/* Estilos para el teclado */
.teclado {
  background-color: #ff9c8d;
  box-shadow: 0px 5px 15px 12px black;
  border-radius: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}



/* Estilos para las teclas */
.tecla {
  background-color: white;
  border-radius: 30px;
  box-shadow: 3px 3px 0 rgb(39, 99, 136);
  color: black;
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

/* Estilos para cuando una tecla está activa o presionada */
.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 4px solid  var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  color: var(--blanco);
  outline: none;
}

/* Estilos para cuando una tecla tiene el foco */
.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

/* Estilos para cuando una tecla está activa y tiene el foco */
.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}

footer{
  width: 100%;
  height: auto;
  background-color: #5a5bf3;
  padding: 50px ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__creditos{
  text-align: center;
}


@media screen and (max-width: 600px){
  main{
    width: 100%;
    height: 100vh;
    padding: 50px 20px;
    display: flex;
   
    
  }
  header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
  }

  .header_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    height: 50px;
    font-size: 9vw;
  }

  .container_teclado{
    width: 100%;
    height: 50vh;

  }
  .teclado{
    width: 100%;
    height: 50vh;
  }
  .tecla{
    width: 100%;
    height: 13vh;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  footer{
    padding: 20px;
    width: 100%;
    height: auto;
  }
}